@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Places to visit in Cincinnati</h1>

<table style="width: 100%;">
    <tr>
        <th>Name</th>
        <th>Links</th>
    </tr>
    <tr>
        <td>Cincinnati Zoo</td>
        <td><a href="http://cincinnatizoo.org/">http://cincinnatizoo.org/</a></td>
    </tr>
    <tr>
        <td>Washington Park</td>
        <td><a href="https://washingtonpark.org/">https://washingtonpark.org/</a></td>
    </tr>
    <tr>
        <td>Cincinnati Art Museam</td>
        <td><a href="https://www.cincinnatiartmuseum.org/">https://www.cincinnatiartmuseum.org/</a></td>
    </tr>
    </tbody>
</table>