@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>All about Cincinnati</h1>
<br />
<h3>Please refer below links to know all about Cincinnati</h3>

</hr>

<table border="1" width="600">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="Cincinnati_Wiki">Wikipedia</a></td>
            <td>It contains all the basic information about the place</td>
        </tr>
        <tr>
            <td><a href="PlacesToVisit">Places to Visit</a></td>
            <td>It contains all the attractions of Cincinnati</td>
        </tr>
        <tr>
            <td><a href="Hotels_In_Cincinnati">Hotels in Cincinnati</a></td>
            <td>It contains all the famous hotels in Cincinnati</td>
        </tr>
    </tbody>
</table>