@page
@model CoreWiki.Pages.PlacesToVisitModel
@{
    ViewData["Title"] = "PlacesToVisit";
}

<head>
    <style>

        p.small {
            line-height: 1.2;
            float: right;
        }
    </style>
</head>

<h1>Top 10 Tourist Attractions in Cincinnati, Ohio</h1>
<a href="https://www.attractionsofamerica.com/attractions/top-tourist-attractions-cincinnati-ohio.php">Click here to open original page</a>
<hr />

<p>As one of the most populated, lively, and exciting cities in Ohio, it is no surprise there is so much to do! This Buckeye State treasure is chock full of fun for the whole family from every corner of the city.</p>

<p><span style="color:blue">Here are the top 10 tourist attractions in Cincinnati.</span></p>
<div>

    <ol type="1">
        <li style="font-size:2em">
            <h2>Cincinnati Zoo and Botanical Garden</h2>
        </li>
        <p class="small" style="font-size:1.1em">
            Come and see all the best in botany at the same place you’ll see lions, and tigers and oh so much more. The Cincinnati Zoo and Botanical gardens is one of the most visited attractions in the city because of all that you can see, do, and explore here.
            The animal exhibits are open to viewers, and the gardens open to stroll. You’ll find just a little bit of everything for everyone here to make this one of your best vacation days yet.
        </p>
        <img src="/Images/Cincinnati-Zoo.jpg" alt="zoo_image" width="600" height="480" />

        <li style="font-size:2em">
            <h2>Cincinnati Museum Center</h2>
        </li>
        <p class="small" style="font-size:1.1em">
            Take a walk through history at the Cincinnati Museum Center! This is the cities best urban history museum, and one of the top attractions in Cincinnati as a whole.
            Originally having opened its doors in 1990, this museum has been treating visitors for years on end. It takes patrons through thrilling recounts of some of the most integral historical movements of the city and the world at large.
        </p>
        <img src="/Images/museum.png" alt="museum" width="600" height="480" />

        <li style="font-size:2em">
            <h2>
                Cincinnati Music Hall
            </h2>
        </li>
        <p class="small" style="font-size:1.1em">
            Follow the sounds of symphony! The Cincinnati Music Hall has been one of the top attractions in the city for fine arts and culture since its completion in 1878.
            It is the proud host to numerous shows, plays, and dances. For example, the Cincinnati Ballet, the Cincinnati Symphony Orchestra, and the May Festival Chorus all call this location home.
        </p>
        <img src="/Images/music_hall.png" alt="music_hall" width="600" height="480" />

        <li style="font-size:2em">
            <h2>
                Great American Ball Park
            </h2>
        </li>
        <p class="small" style="font-size:1.1em">
            Take everyone out to the ball game! The Great American Ball Park is home to the MLB team the Cincinnati Reds. It hosts seasonal games playing a wide number of teams and often offers quite a few home games a month.
        </p>
        <img src="/Images/ball_park.png" alt="ball_park" width="600" height="480" />

        <li style="font-size:2em">
            <h2>
                Fountain Square
            </h2>
        </li>
        <p class="small" style="font-size:1.1em">
            Nestled in the heart of the city lies one of the true landmarks beloved by Cincinnati. The Fountain Square is an important stop on any tour of Cincinnati as it lies right across from some of the most important parts of town.
        </p>
        <img src="/Images/fountain.png" alt="fountain" width="600" height="480" />
    </ol>
