@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<img src="~/Images/Books.jpg" alt="books_image" width="800" height="480" />

<p class="small" style="font-size:1.1em">
    Looking for the next great book to sink your teeth into? Look no further.

    As the year rolls on, you may find yourself wanting to set aside time to catch up on reading. We have good news for you, digital bookworms — you can get in a good read in no waste of time. The internet is filled with free e-book resources so you can download new reads and old classics from the comfort of your iPad.
</p>

