@page
@model FinalProject.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h2>About Us</h2>
<br />
<head>
    <style>
        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: middle;
            width: 200px;
        }
        div.desc {
              padding: 5px;
              text-align: left;
                }
    </style>
</head>
<body>
    <div class="gallery" style="position:absolute; left:150px; top:120px;">
        <img src="~/Images/Photo_Prerna.jpg" alt="Prerna" height="200" width="200">
        <div class="desc">
            <ul>
                <li>
                    Name: Prerna
                </li>
                <li>
                    Ph: +1-631-948-4968
                </li>
            </ul>
        </div>
    </div>
    <div class="gallery" style="position:absolute; left:850px; top:120px;">
        <img src="~/Images/Photo_Garima.jpg" alt="Garima" height="200" width="200">
        <div class="desc">
            <ul>
                <li>
                    Name: Garima
                </li>
                <li>
                    Ph: +1-451-948-4968
                </li>
            </ul>
        </div>
    </div>

    <div class="gallery" style="position:absolute; left:500px; top:120px;">
        <img src="~/Images/Photo_Komal.jpg" alt="Komal" height="200" width="200">
        <div class="desc">
            <ul>
                <li>
                    Name: Komal
                </li>
                <li>
                    Ph: +1-451-568-4968
                </li>
            </ul>
        </div>
    </div>

    <p style="position:absolute; left:150px; top:450px;"><i>
    Real Fitness Studio started from a place that many businesses do, a desire to change people's lives. "We wanted to create a place where busy people, not unlike themselves, could go to get a killer workout without planning their whole lives around making a class time, or spending hours at the gym." Prerna's martial arts and kickboxing training, and Komal's and Garima's own passion for fitness were the foundation that the Real Fitness Studio Franchising empire would be built upon.
    <br />
    </i></p>
</body>



