@page
@model FinalProject.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}

<h3>Please refer below screenshots to get yourself acquainted with the website.</h3>
<br />
<ul style="font-size:1.8em"><b>
    <li>
        Please refer below images of our Home page
    </li>
    <img src="~/Images/Home_1.jpg" alt="Home_1" width="800" height="500" style=left:150px; />

    <li>
        Please click on "Abous Us" page to know our team and our story.
    </li>
    <img src="~/Images/About_Us.jpg" alt="About_Us" width="800" height="500" style=left:150px />

    <li>
        Please move your cursor to Admin button on navbar and click on dropdown menu to explore our models.
    </li>
    <img src="~/Images/Admin.jpg" alt="Admin" width="800" height="500" style=left:150px />
    <p>For example:</p>
    <img src="~/Images/Memberships.jpg" alt="Memberships" width="800" height="500" style=left:150px />

    <li>
        Please click on "Schedule" on navigation bar to know how many members are there under each member.
    </li>
    <img src="~/Images/Schedule.jpg" alt="Schedule" width="800" height="500" style=left:150px />

    <li>
        Please click on "Trainer-1" or "Trainer-2" to know about our trainer specific plans.
    </li>
    <img src="~/Images/Trainer_Profile_1.jpg" alt="Trainer_Profile_1" width="800" height="500" style=left:150px />

    <li>
        Please click on "Items bought by Member-1" to know about our member profile.
    </li>
    <img src="~/Images/Membership_Profile_1.jpg" alt="Membership_Profile_1" width="800" height="500" style=left:150px />

    <li>
        Please select "MemberID"  in Form-1 on the home page if you wish to select PlanID for a particular member.
    </li>
    <img src="~/Images/Form_1.jpg" alt="Form_1" width="800" height="500" style=left:150px />

    <li>
        Please select "PlanID"  in Form-2 for selected member.
    </li>
    <img src="~/Images/Form_2.jpg" alt="Form_2" width="800" height="500" style=left:150px />

    <li>
        Please select "Search Itemset here" on the home page if you wish to search tuckshop item.
    </li>
    <img src="~/Images/Search_2.jpg" alt="Search_2" width="800" height="500" style=left:150px />


</b>
</ul>

