@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>The Real Fitness Studio</h1>
</div>
<br />
<form action="Search">
    <input type="submit" value="Search TuckShop Items here" class="btn btn-danger">
</form>

<br />
<br />
<p><b>Select member ID to change plan</b></p>
<form method="post" style="margin-top: 10px;">
    <div class="form-group">
        <label asp-for="IndexForm.MemberId" class="control-label"></label>
        <select asp-for="IndexForm.MemberId" class="form-control" asp-items="ViewBag.MemberId"></select>
        <span asp-validation-for="IndexForm.MemberId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-danger" />
    </div>

</form>

<h4>Please Click below to see trainer specific plans</h4>
<ul>
    <li style="font-size:1.0em"><a href="TrainerProfile?id=1">Trainer-1</a></li>
    <li style="font-size:1.0em"><a href="TrainerProfile?id=2">Trainer-2</a></li>
</ul>
<br />
<h4>Please Click below to see items bought by some of or members</h4>
<ul>
    <li style="font-size:1.0em"><a href="MembershipProfile?id=1">Items bought by Member-1</a></li>
    <li style="font-size:1.0em"><a href="MembershipProfile?id=2">Items bought by Member-2</a></li>
</ul>

<h3> <em>Join the Boxing Club </em></h3>
<p>
    New to <strong>boxing</strong>? Schedule your first workout at our Downtown fitness studio and we’ll show you the ropes.
    <br />
    Whether you’re looking to increase strength, confidence, coordination, or you’re just after a kickass cardio workout, kickboxing will keep you coming back for more. The flexibility of the term (and its students) has contributed to the sport’s tremendous popularity: You’ll find kickboxing classes focusing on everything from <strong> <em>cardio conditioning </em> </strong>and elements of dance to <strong><em>self-defense</em></strong>,<strong><em> martial arts </em></strong>, and one-on-one competition.
    <br />
    <br />
    <em>But deciding which kind of class to attend is just the first step in preparing to raise those fists for the first time.</em>

    <br />

    <br />

    <img src="https://www.usadojo.com/wp-content/uploads/2017/07/cardio-kickboxing-1066x550.jpg" alt="KickBoxing" height="500" width="1100" />

</p>
